body {
  background: #f8f9fa;
}
.navigation-menu nav{
  top: 70px;
}

.navigation-menu__logged-out nav{
  top: 172px
}

@media (min-height: 768px) {
  .navigation-menu__logged-out nav{
    top: 70px;
  }
}

.logged-in-controls, .login-form {
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: #343a40;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.login-form {
  justify-content: flex-end;
}

.login-form div {
  margin-left: 1rem
}

.logo {
  color: #343a40;
}

.logo:hover {
  text-decoration: none;
  color: black;
}

.navbar-link {
  color: #343a40;
  opacity:0.7;
  padding: 0.5rem;
}

.navbar-link__active, .navbar-link:hover{
  text-decoration: none;
  color:#343a40;
  opacity: 1;
}


.my-profile-control {
  color: #f8f9fa;
}

.add-recipe-control {
  margin-left: 1rem;
}

.add-recipe-control:focus {
  border: none;
  background-color: #f8f9fa;
  box-shadow: none;
}

.sign-out-control {
  margin-left: 1rem;
}

.content-container {
  margin-top: 8rem;
  margin-bottom: 5rem;
}

.content-container__logged-out {
  margin-top: 14.2rem;
}

.add-recipe-form {
  margin-bottom: 9rem;
}

@media (min-height: 768px) {
  .content-container {
    margin-top: 10rem;
  }
  .content-container__logged-out {
    margin-top: 10rem;
  }
}

.hero-container img {
  height: 500px;
}

.hero-card-container {
  opacity: 0.7;
  color: #343a40;
  max-width: 400px;
}

.signin-button:focus {
  box-shadow: none;
}

.signin-container__header {
  background-color: transparent;
}

.best-recipes-container .card {
  display: inline-block;
}

.best-recipe-card  {
  border: none;
  box-shadow: 0px 2px 2px 0px rgba(65, 46, 46, 0.2), 0px 4px 4px 0px rgba(0,0,0,0.16), 0px 8px 8px 0px rgba(0,0,0,0.12);
}

.best-recipe-image {
  background: url(https://images.pexels.com/photos/808941/pexels-photo-808941.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
  border-top-right-radius: .25rem;
  width: 100%;
  display: inline-block;
  height: 200px;
  border-top-left-radius: .25rem;
}

.best-recipe-card__title {
  color: #343a40;
  opacity: 0.7;
}

.best-recipe-card__title:hover {
  text-decoration: none;
  color: #343a40;
  opacity: 1;
}

.best-recipe-card-rating {
  color: #ffc107;
  font-size: small;
}

.discover-all-recipes-container {
  padding: 5rem;
  background:linear-gradient(rgba(92, 92, 92, 0.5), rgba(173, 173, 169, 0.5)), url('https://images.pexels.com/photos/3771814/pexels-photo-3771814.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  border-radius: 0;
  height: 100vh;
}

.small-recipe-area {
  position: relative;
    z-index: 1;
    padding-bottom: 30px;
}

.small-recipe-area-row {
  justify-content: space-between;
}

.section-padding-80-0 {
  padding-top: 80px;
  padding-bottom: 0;
}

.single-small-recipe-area {
  position: relative;
    z-index: 1;
    margin-bottom: 50px;
}

.recipe-thumb {
  flex: 0 0 100px;
  max-width: 100px;
  width: 100px;
  padding-right: 20px;
}

.recipe-thumb img {
  height: auto;
  max-width: 100%;
  box-shadow: 0px 2px 2px 0px rgba(65, 46, 46, 0.2), 0px 4px 4px 0px rgba(0,0,0,0.16), 0px 8px 8px 0px rgba(0,0,0,0.12);
}

.single-small-recipe-area .recipe-content span {
  font-size: 12px;
  display: block;
  color: #40ba37;
}

.single-small-recipe-area .recipe-content a {
  display: block;
}

.single-small-recipe-area .recipe-content a h5 {
  color: #474747;
  font-size: 18px;
  margin-bottom: 5px;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
}

.single-small-recipe-area .recipe-content a h5:hover, .single-small-recipe-area .recipe-content a h5:focus {
  color: #40ba37;
  text-decoration: none;
}

.recipe-content-title:hover {
  text-decoration: none;
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .single-small-recipe-area .recipe-content a h5 {
    font-size: 16px;
  }
}

.single-small-recipe-area .recipe-content .ratings i {
  font-size: 11px;
  color: #fbb710;
  display: inline-block;
  padding: 0 1px;
}

.single-small-recipe-area .recipe-content .recipe-content-comments {
  font-size: 12px;
  margin-bottom: 0;
  color: #9b9b9b;
}

.ingredients-list-item {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
}

.add-recipe-button {
  float: right;
}

.upload-picture-control {
  margin-top: 1rem;
}

.add-recipe-picture-container {
  width: 200px;
  height: 200px;
  background: url('https://images.pexels.com/photos/2097090/pexels-photo-2097090.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.view-recipe-jumbotron {
  background-image: url('https://images.pexels.com/photos/750073/pexels-photo-750073.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

/* .macro-info-container {
  display: flex;
  padding: 0.5rem;
}

.macros {
  margin-left: 1rem;
}

.macros-card {
  opacity: 0.7;
}

.ingredients-card-container {
  background-color: rgba(241, 209, 172, 0.23);
}

.ingredients-card-title {
  border-bottom: 1px solid rgba(52, 58, 64, 0.3);
}

.macro-info-description {
  display: block;
} */

.recipe-headline h2 {
  font-size: 36px;
  color: #474747;
  margin-bottom: 30px;
}

.recipe-headline span {
  font-size: 14px;
  display: block;
  color: #a4a4a4;
  margin-bottom: 0;
}

.recipe-headline .recipe-duration {
  border-left: 3px solid #40ba37;
  padding: 15px;
}

.recipe-headline .recipe-duration h6 {
  font-size: 15px;
  margin-bottom: 5px;
}

.recipe-ratings i {
  font-size: 18px;
  color: #fbb710;
  padding: 0 3px;
}

.single-preparation-step {
  position: relative;
  z-index: 1;
  margin-bottom: 50px;
}

.single-preparation-step h4 {
  color: #474747;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 60px;
  flex: 0 0 60px;
  max-width: 60px;
  width: 60px;
  margin-bottom: 0;
}

.single-preparation-step p {
    color: #9b9b9b;
    font-size: 14px;
    line-height: 2;
    font-weight: 400;
}

.ingredients h4 {
  color: #474747;
  margin-bottom: 30px;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(155, 155, 155, 0.5);
}

.ingredient {
  margin-bottom: 30px;
  min-height: 35px;
}

.ingredients {
  border-left: 3px solid #40ba37;
  padding: 15px;
}

.section-heading.text-left {
  text-align: left!important;
}
.section-heading {
  position: relative;
  z-index: 1;
  margin-bottom: 80px;
  text-align: center;
}

.section-heading h3 {
  font-size: 30px;
  margin-bottom: 0;
}

.contact-form-area .form-control {
  height: 52px;
  width: 100%;
  background-color: #f3f5f8;
  font-size: 12px;
  font-style: italic;
  margin-bottom: 15px;
  border: none;
  border-left: 3px solid #f3f5f8;
  border-radius: 0;
  padding: 15px 30px;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
}
