.navigation-menu nav{
  top: 70px;
}

.logged-in-controls, .login-form {
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: #343a40;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.login-form {
  justify-content: flex-end;
}

.login-form div {
  margin-left: 1rem
}

.logo {
  color: #343a40;
}

.logo:hover {
  text-decoration: none;
  color: black;
}

.navbar-link {
  color: #343a40;
  opacity:0.7;
  padding: 0.5rem;
}

.navbar-link__active, .navbar-link:hover{
  text-decoration: none;
  color:#343a40;
  opacity: 1;
}


.my-profile-control {
  color: #f8f9fa;
}

.add-recipe-control {
  margin-left: 1rem;
}

.add-recipe-control:focus {
  border: none;
  background-color: #f8f9fa;
  box-shadow: none;
}

.sign-out-control {
  margin-left: 1rem;
}

.content-container {
  margin-top: 12rem;
  margin-bottom: 2rem;
}

.add-recipe-form {
  margin-bottom: 6rem;
}

@media (min-height: 768px) and (min-width: 1366px) {
  .content-container {
    margin-top: 10rem;
  }
}

.hero-container img {
  height: 500px;
}

.hero-card-container {
  opacity: 0.7;
  color: #343a40;
}

.signin-button:focus {
  box-shadow: none;
}

.signin-container__header {
  background-color: transparent;
}

.best-recipes-container .card {
  display: inline-block;
}

.best-recipe-card__title {
  color: #343a40;
  opacity: 0.7;
}

.best-recipe-card__title:hover {
  text-decoration: none;
  color: #343a40;
  opacity: 1;
}

.best-recipe-card-rating {
  color: #ffc107;
}

.discover-all-recipes-container {
  padding: 5rem;
  background:linear-gradient(rgba(92, 92, 92, 0.5), rgba(173, 173, 169, 0.5)), url('https://images.pexels.com/photos/3771814/pexels-photo-3771814.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}

.review-home-card-container {
  display: inline-block;
}

.review-home-card-thumbnail {
  height: 100px;
  width: 100px;
  background: url("https://images.pexels.com/photos/3662104/pexels-photo-3662104.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-size: cover;
  background-position: center;
}

.review-home-card-date {
  opacity: 0.6;
  font-size: 0.7rem;
}

.review-home-card-title {
  color: #343a40;
  margin-bottom: 0.5rem;
}

.review-home-card-title:hover {
  color: #343a40;
  font-weight: 500;
  text-decoration: none;
}

.review-home-card-rating {
  margin-bottom: 0.5rem;
}

.review-home-card-comments {
  opacity: 0.6;
  font-size: 0.8rem;
  color: #343a40;
}

.review-home-card-comments {
  color: #343a40;
  text-decoration: none;
}

.ingredients-list-item {
  display: flex;
  justify-content: space-between;
  border: none
}

.add-recipe-button {
  float: right;
}